@import '../../assets/sass-variables';

.person-card {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 0.6rem 0.6rem 0;
  border: $lightBorderColor;
  box-shadow: $shadowBox;
  border-radius: 3px;

  @media all and (max-width: 768px) {
    width: 100%;
  }

  .person-card-img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 40vh;
    height: 85%;
    background: $blankImagecontainer;
    cursor: pointer;

    @media all and (max-width: 768px) {
      // height: auto;
    }

    @media all and (max-width: 540px) {
      min-height: calc(50vw + 30px);
      // height: auto;
    }

    span {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .person-card-body {
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    height: 15%;
    color: #f3f1f1;
    padding: 0.2rem 0;

    .person-name {
      text-align: center;
      font-size: 0.75rem;
      margin: 0;
      padding: 0;
    }

    .person-known-for {
      overflow: hidden;
      padding: 0 0.2rem;

      p {
        width: 100%;
        font-size: 0.75rem;
        font-weight: 400;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
        padding: 0;
      }
    }
  }
}
