@import '../../assets/sass-variables';

.season-details {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #867f7f;
  width: 100%;

  .season-card {
    display: grid;
    grid-template-columns: 0.11fr 1fr;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    color: #ffffff;

    @media screen and (max-width: 768px) {
      grid-template-columns: 0.25fr 1fr;
      grid-gap: .7rem;
    }

    .image-container {
      min-height: 25vh;
      overflow: hidden;
      border-radius: 6px;
      background: $blankImagecontainer;

      @media screen and (max-width: 768px) {
        min-height: 16vh;
      }

      img {
        width: 100%;
        height: 100%;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        &:hover {
          transform: scale(1.01);
        }
      }
    }

    .season-body {
      margin: auto 0;
      width: 100%;

      .title {
        display: flex;
        align-items: baseline;
        padding: 0;
        margin: 0;

        h3 {
          margin: 0;
          margin-right: 0.8rem;

          @media screen and (max-width: 768px) {
            font-size: calc(1.1rem + 0.5vw);
            font-weight: 600;
          }

          &:hover {
            color: rgb(235, 176, 16);
          }
        }

        span {
          margin-right: 0.3rem;
          font-size: 0.85rem;
        }
      }

      .season-premiered {
        font-size: 0.9rem;
        padding-right: 0.7rem;

        @media screen and (max-width: 768px) {
          font-size: calc(0.7rem + 0.5vw);
        }
      }

      .overview {
        font-size: 0.85rem;
        line-height: 1.4;
        padding-right: 2rem;

        @media screen and (max-width: 768px) {
          padding-right: 0.7rem;
          height: 2rem;
          overflow: hidden;
          font-size: 0.75rem;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
