@import '../../assets/sass-variables';

.backdropcard-container {
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
  border: $shadowBoxBorder;
  box-shadow: $shadowBox;

  .img-container {
    width: 100%;
    height: 25vh;
    background: $blankImagecontainer;

    @media screen and (max-width: 768px) {
      height: 40vw;
    }

    span {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .poster-size {
    height: 45vh;
    width: auto;

    @media screen and (max-width: 768px) {
      height: 65vw
    }
  }

  .info-and-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $lightBorderColor;

    span {
      font-size: 0.7rem;
      padding-right: 0.5rem;
      padding: 0.8rem 0;
    }
  }

  .backdropcard-category {
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;

    .title {
      font-size: 0.85rem;
    }

    .text {
      font-size: 0.7rem;

      .fa-check {
        margin-left: 0.5rem;
      }
    }

    .language {
      display: flex;
      justify-content: space-between;
      background: $mainColor;
      padding: 0.3rem 0;

      .text {
        padding-left: 0.5rem;
      }

      span {
        padding-right: 0.5rem;
      }
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}
