.season-container {
    width: 100%;
    margin: 0;
    padding: 0 0 0 2.5rem;
    
    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        gap: .5rem;
        padding: 0 0 0 .5rem;
    }
}