.social-media-handles {
  width: 100%;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }

  a {
    font-size: 1.5rem;
    margin-right: 1rem;
    text-decoration: none;
  }

  .fa-facebook-square {
    color: rgb(74, 74, 221);
  }
  .fa-twitter {
    color: rgb(99, 185, 211);
  }
  .fa-instagram {
    color: rgb(221, 74, 214);
  }
  .fa-link {
    color: rgb(47, 27, 158);
    transform: rotate(45deg);
  }
}
