.popular-people-page-container {
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem;
    width: 100%;
    min-height: 100vh;
    
    @media all and (max-width: 768px) {
      padding: 0 .5rem;
    }
  
    .movie-header {
      margin-top: 2rem;
      color: #ffffff;
      font-size: 1.4rem;
    }
  
    .popular-people-page-row {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1.5rem;
      margin-top: 1rem;

      @media all and (max-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
      }

      @media all and (max-width: 540px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
      }
    }
  }