@import '../../assets/sass-variables';

.movie-and-tv-card {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 7px;
  border: $shadowBoxBorder;
  box-shadow: $shadowBox;
  color: $fontColor;

  .movie-and-tv-card-link {
    display: block;
    position: relative;
    width: 100%;
    // height: 80%;
    min-height: 80%;
    background: $blankImagecontainer;
    border-radius: inherit;

    .movie-and-tv-card-img-container {
      width: 100%;
      height: 100%;
      border-radius: inherit;

      .movie-and-tv-card-image {
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
    }

    .circular-progressbar {
      width: calc(1.3rem + 0.5vw);
      height: calc(1.3rem + 0.5vw);
      position: absolute;
      right: 0.2rem;
      top: 0.2rem;
      font-weight: 500;
    }
  }

  .movie-and-tv-card-link-homepage {
    // height: 30vh;
    min-height: 30vh;

    @media screen and (max-width: 768px) {
      // height: 25vh;
      min-height: 25vh;
    }
  }

  .movie-and-tv-card-body {
    padding: 0.5rem 0.1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20%;

    .movie-and-tv-card-title {
      font-size: 0.75rem;
      font-weight: 500;
      padding: 0;
      text-align: center;

      @media screen and (max-width: 768px) {
        font-size: 0.63rem;
      }
    }

    .movie-and-tv-card-text {
      padding: 0rem;
      margin-top: 0.3rem;
      font-size: 0.7rem;

      @media screen and (max-width: 768px) {
        font-size: 0.6rem;
      }
    }

    .movie-and-tv-card-overview {
      display: none;
    }
  }

  // .movie-and-tv-card-body-homepage {
  //   height: 100%;
  // }
}

.mobile-for-tv-movies-category {
  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    grid-gap: 0.2rem;
    height: 25vh;

    .movie-and-tv-card-link {
      display: block;
      width: 100%;
      height: 100%;
      min-height: 100%;
      background: $blankImagecontainer;

      .movie-and-tv-card-img-container {
        width: 100%;
        height: 100%;

        .movie-and-tv-card-image {
          width: 100%;
          height: 100%;
        }
      }

      .circular-progressbar {
        display: none;
      }
    }

    .movie-and-tv-card-body {
      padding: 0.5rem 0.1rem;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;

      .movie-and-tv-card-title {
        font-size: 0.85rem;
        font-weight: 500;
        padding: 0;
        text-align: left;
      }

      .movie-and-tv-card-text {
        padding: 0rem;
        margin-top: 0.1rem;
        font-size: 0.7rem;
      }

      .movie-and-tv-card-overview {
        display: block;
        height: 2.2rem;
        position: relative;
        margin-top: 1rem;
        font-size: 0.75rem;
        overflow: hidden;
        padding-right: 0.2rem;
      }
    }
  }
}
