@import '../../assets/sass-variables';

.episodes-card {
  width: 100%;
  border-radius: 8px;
  border: $shadowBoxBorder;
  box-shadow: $shadowBox;
  overflow: hidden;
  margin: 0.5rem 0 1.3rem 0;

  .image-and-details {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-gap: 1rem;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(15, 15, 15);

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .img-container {
      min-height: 20vh;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        min-height: 34.5vh;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .episode-title-and-air-date {
      margin: auto 0;
      padding: 0.5rem 1rem 0 0;
      width: 100%;

      @media screen and (max-width: 768px) {
        padding: 0rem 0rem 0 0.5rem;
      }

      .title {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-areas:
            'air-date'
            'left-title';

          .left {
            grid-area: left-title;
          }

          .air-date {
            grid-area: air-date;
          }
        }

        .left {
          display: flex;
          padding: 0;
          margin: 0;

          @media screen and (max-width: 768px) {
            margin-top: 0.2rem;
          }

          span {
            padding-right: 1rem;
          }
          .number-count {
            font-weight: 500;
            color: rgb(231, 174, 16);
          }
          .icon-and-rating {
            background: rgb(15, 14, 14);
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            padding: 0 0.5rem;
            margin-right: 1rem;
            border: $shadowBoxBorder;
            box-shadow: $shadowBox;
            outline: none;
            border-radius: 10px;

            @media screen and (max-width: 768px) {
              display: none;
            }

            .fas {
              font-size: 0.6rem;
              padding-right: 0.4rem;
            }

            .rating {
              margin: 0;
              padding: 0;
              font-size: 0.8rem;
              font-weight: 500;
            }
          }
          .episode-title {
            font-weight: 500;
          }
        }
        .air-date {
          margin: 0;
          padding: 0;
          font-size: 0.9rem;

          @media screen and (max-width: 768px) {
            font-size: 0.8rem;
          }
        }
      }

      .overview {
        font-size: 0.85rem;
        margin-top: 1rem;
      }
    }
  }

  .expanded-view {
    width: 100%;

    .expanded-view-links {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0.3rem 1rem;

      @media screen and (max-width: 768px) {
        padding: 0.3rem 0.5rem;
      }

      .view-links {

        @media screen and (max-width: 768px) {
          font-size: .85rem
        }
        &:hover {
          color: rgb(231, 174, 16);
          cursor: pointer;
        }
      }
    }

    .expanded-view-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
      padding: 0 1rem;

      @media screen and (max-width: 768px) {
        padding: 0 0.5rem;
      }

      .crew {
        width: 25vw;

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-bottom: 1rem;
        }

        .header {
          margin-bottom: 0.8rem;

          .crew-count {
            opacity: 0.7;
          }
        }

        p {
          margin: 0;
          padding: 0;
          font-size: 0.85rem;
        }
      }

      .guest-stars {
        width: 100%;

        .header {
          font-size: 0.9rem;

          .header-text {
            margin-right: 0.5rem;
          }

          .count {
            opacity: 0.6;
          }
        }

        .guest-stars-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem 5rem;

          @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 1rem;
          }
        }
      }
    }

    .full-cast-and-crew {
      display: flex;
      justify-content: flex-end;
      margin: .7rem 0;
      border-bottom: 1px solid rgb(76, 72, 72);

      .cast-and-crew {
        display: block;
        width: fit-content;
        padding: .5rem;

        &:hover {
          color: rgb(231, 174, 16);
        }
      }

      @media screen and (max-width: 768px) {
        font-size: 0.75rem;
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
        width: fit-content;

        &:hover {
          color: rgb(231, 174, 16);
        }
      }
    }

    .episode-images {
      width: 100%;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid rgb(76, 72, 72);

      @media screen and (max-width: 768px) {
        padding: 0.5rem .5rem;
      }

      .episode-images-headers {
        display: flex;
        justify-content: space-between;

        p {
          margin: 0;
          padding: 0;
        }

        .episode-images-count {
          font-weight: 500;
          font-size: 0.95rem;

          span {
            opacity: 0.6;
          }
        }

        .view-all-episode-images {
          .view-all {
            font-size: 0.75rem;

            &:hover {
              color: rgb(231, 174, 16);
            }
          }
        }
      }

      .images-container {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 200px;
        grid-gap: 0.5rem;
        overflow: auto;
        margin-top: 0.5rem;
        padding: 0.5rem 0;

        .container {
          display: block;
          min-height: 90px;
          margin-right: 0.5rem;
          padding: 0;
          border: $shadowBoxBorder;
          box-shadow: $shadowBox;
          background: $blankImagecontainer;
          border-radius: 5px;
          overflow: hidden;

          .images-container-img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .expand {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgb(31, 30, 30);
    padding: 0.25rem 0;
    cursor: pointer;

    &:hover {
      background: rgb(43, 42, 42);
    }

    &:hover + .expanded-view {
      display: block;
    }

    p {
      margin: auto;
      font-size: 0.9rem;

      span {
        margin-left: 0.3rem;
      }
    }
  }
}
