@import '../../assets/sass-variables';

.homepageCategory-container {
  margin-top: 0.2rem;
  padding: 1rem;
  min-height: 40vh;
  color: #fff;

  @media screen and (max-width: 768px) {
    padding: 0.5rem;
  }

  .main-row {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(180px, 1fr);
    // grid-auto-rows: minmax(250px, 1fr);
    column-gap: 0.5rem;
    padding-bottom: 1rem;
    overflow-x: auto;
    margin-top: 0.5rem;

    @media all and (max-width: 768px) {
      grid-auto-columns: minmax(150px, 1fr);
    }
  }
}
