@import '../../assets/sass-variables';

.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-link {
  font-weight: 600;
}

.dropdown-menu.show {
  background: $mainColor;

  .dropdown-item {
    color: $fontColor;

    &:hover {
      background: $lightBorderColor;
    }
  }
}
