@import '../../assets/sass-variables';

.navbar {
  position: sticky;
  top: 0;
  z-index: 8;
}

.brandName {
  @media screen and (max-width: 768px) {
    font-size: 1.1rem;
  }
}

.nav-link {
  font-weight: 600;
}

.dropdown-menu.show {
  background: $mainColor;

  .dropdown-item {
    color: $fontColor;

    &:hover {
      background: $lightBorderColor;
    }
  }
}
