.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;

  .nav-link {
    color: rgb(20, 19, 19);
    font-size: 0.9rem;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      font-size: 0.75rem;
    }
  }
}
