.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;

    .nav-link {
        color: rgb(20, 19, 19);
        font-size: .9rem;
        font-weight: 500;
    }
}