@import '../../assets/sass-variables';
@mixin origin-country {
  margin-left: 0.5rem;
  padding: 0.2rem 0.4rem;
  font-size: .8rem;
  background: $lightBorderColor;
  border-radius: 5px;
}

.company-card {
  border-top: 1px solid $lightBorderColor;
  color: #fff;
  border: $shadowBoxBorder;
  box-shadow: $shadowBox;
  padding: 0.4rem 0.2rem;

  .img-container {
    display: block;
    width: 100%;
    height: 1.7rem;

    img {
      height: 100%;
    }

    .origin-country {
      @include origin-country;
    }
  }

  .company-name {
    font-size: 1.04rem;

    .origin-country {
      @include origin-country;
    }
  }
}
