@import '../../assets/sass-variables';

.right-side {
  display: grid;
  grid-area: right-side;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
  color: #ffffff;
  margin-bottom: 1rem;

  @media all and (max-width: 550px) {
    grid-template-columns: 1fr;
  }

  .empty-media {
    width: 100%;
    grid-column: 1/4;
    border: $shadowBoxBorder;
    box-shadow: $shadowBox;
    padding: 0.5rem;
  }
}

.poster-grid {
  grid-template-columns: repeat(4, minmax(200px, 1fr));

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  @media screen and (max-width: 515px) {
    grid-template-columns: repeat(1, minmax(160px, 1fr));
  }
}

.video-grid {
  grid-template-columns: 1fr;
}
