$mainColor: rgb(36, 35, 35);
$primaryColor: rgb(201, 190, 190);
$fontColor: rgb(255, 255, 255);
$primaryYellow: #ffc107;
$shadowBoxBorder: 1px solid rgba(0, 0, 0, 0.589);
$shadowBox: 0 0 2px rgb(0, 0, 0);
$lightBorderColor: rgb(95, 93, 93);
$blankImagecontainer: rgb(0, 0, 0);