$mainColor: #242323;
$primaryColor: #c9bebe;
$fontColor: #ffffff;
$primaryYellow: #ffc107;
$shadowBoxBorder: 1px solid #00000096;
$shadowBox: 0 0 2px #000000;
$lightBorderColor: #5f5d5d;
$blankImagecontainer: #000000;