@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Quicksand', Calibri, sans-serif !important;
  box-sizing: border-box;
  background-color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  height: 0.6em;
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: dimgray;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
