@import '../../assets/sass-variables';

.known-for-card {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 0.6rem 0.6rem 0;
  border: $shadowBoxBorder;
  box-shadow: $shadowBox;
  border-radius: 7px;

  @media all and (max-width: 768px) {
    width: 100%;
  }

  @media all and (max-width: 540px) {
    width: 100%;
  }

  .known-for-card-link {
    display: block;
    width: 100%;
    height: 100%;

    .known-for-card-img-container {
      width: 100%;
      margin: 0;
      padding: 0;
      height: 80%;
      min-height: 30vh;
      background: $blankImagecontainer;

      @media all and (max-width: 768px) {
        min-height: 35vh;
      }

      .known-for-card-img {
        width: 100%;
        height: 100%;
      }
    }

    .known-for-card-body {
      display: flex;
      width: 100%;
      margin-top: 0.2rem;
      // height: 20%;
      color: #f3f1f1;

      p {
        font-size: 0.75rem;
        margin: 0;
        width: 100%;
        padding: 0.1rem 0.2rem;
        text-align: center;
      }
    }
  }
}
