.social {
  width: inherit;

  .third-grid {
    width: 100%;
    color: #f3f1f1;

    .third-grid-nav {
      padding: 0;
      margin: 0;

      .tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        .social {
          font-size: 1.8rem;
          font-weight: 600;

          @media all and (max-width: 768px) {
            font-size: 1.05rem;
          }
        }

        .social-tab {
          display: flex;

          .reviews,
          .discussions {
            font-size: 1rem;
            padding: 0.3rem 0.8rem;
            font-weight: 600;
            border-top: 1px solid rgba(0, 0, 0, 0.589);
            border-right: 1px solid rgba(0, 0, 0, 0.589);
            border-bottom: 1px solid rgba(0, 0, 0, 0.589);
            border-left: 1px solid rgba(0, 0, 0, 0.589);
            border-radius: 5px 5px 0 0;
            cursor: pointer;

            @media all and (max-width: 768px) {
              font-size: 0.9rem;
            }

            span {
              color: violet;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }

    .tab-content {
      width: 100%;
      margin-top: 0.5rem;

      #review {
        .review-container {
          width: 100%;
          display: flex;
          border: 1px solid rgba(0, 0, 0, 0.589);
          border-radius: 8px;
          padding: 0.5rem;
          box-shadow: 0 0 2px rgb(0, 0, 0);
          padding-right: 2rem;

          @media all and (max-width: 768px) {
            padding-right: 1rem;
          }

          .img-avatar {
            padding-right: 1rem;
            .user-avatar {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              background: rgb(114, 16, 114);
              font-size: 1.5rem;
              font-weight: 600;

              @media all and (max-width: 768px) {
                width: 3rem;
                height: 3rem;
                font-size: 1.3rem;
              }
            }
          }

          .review-body {
            .reviewer-details {
              display: flex;
              align-items: center;

              .reviewer-name {
                font-size: 1.2rem;
                font-weight: 600;
                color: #ffffff;
                padding: 0;
                margin: 0;

                @media all and (max-width: 768px) {
                  font-size: 1.1rem;
                }
              }

              .user-rating {
                background: #070707;
                color: #fdfdfd;
                font-size: 1rem;
                margin: 0 0 0 3rem;
                padding: 0.1rem 0.6rem;
                border-radius: 5px;
                border: 1px solid black;
                box-shadow: 0 0 4px #000000;
                text-align: center;

                @media screen and (max-width: 768px) {
                  display: none;
                }

                .fas {
                  padding-right: 0.3rem;
                  font-size: 0.8rem;
                }
              }
            }

            .review-date {
              margin: 0;
              padding: 0;
              font-size: 0.9rem;
              opacity: 0.9;

              @media all and (max-width: 768px) {
                font-size: 0.8rem;
              }
            }

            .review-text p {
              text-align: justify;
              font-size: 0.88rem;
            }
          }
        }

        .read-all-reviews {
          margin: 0.4rem 0;
          font-weight: 500;
          font-size: 0.85rem;
          font-style: italic;
          width: fit-content;

          &:hover {
            color: rgb(226, 189, 21);
            cursor: pointer;
          }
        }
      }

      #discussion {
        .trend-container {
          display: flex;
          align-items: center;
          border: 1px solid rgb(20, 20, 20);
          border-radius: 5px;
          box-shadow: 0 0 2px rgb(0, 0, 0);
          padding: 0.5rem;
          margin-bottom: 1rem;

          .avatar-discussion-title {
            display: flex;
            flex: 6;
            align-items: center;

            img {
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
            }

            .discussion-title {
              margin: 0;
              padding: 0 0 0 0.8rem;
              font-size: 0.9rem;
            }
          }

          .discussion-status {
            flex: 1;
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 0.9rem;
          }

          .discussion-contributors {
            flex: 1;
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 0.9rem;
          }

          .contributor-details {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            flex: 2;
            margin: 0;
            padding: 0;
            line-height: 1.1;

            p {
              margin: 0;
              padding: 0;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

.no-review {
  font-size: clamp(.8rem, .85rem, .8rem);
}
